{
    "plugins": [
        [
            "module-resolver",
            {
                // "root": ["./packages/public"],
                "alias": {
                    "core/*": "@babylonjs/core/*"
                }
            }
        ]
    ]
}
